@model ShapeShift.Models.Trainer

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Set your layout page here
}

<h1>Add Trainer</h1>
<form asp-action="AddTrainer" asp-controller="Admin" method="post">
   
    <div class="form-group">
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone Number:</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary"> Add Trainer</button>
</form>

