@model ShapeShift.Models.ResetPasswordViewModel



<form asp-action="ResetPassword" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="NewPassword">New Password:</label>
        <input type="password" id="NewPassword" name="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password:</label>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
