@{
    ViewData["Title"] = "Home Page";
}

<div class="p-0" style="background-image: url('Images/Hero.jpg'); background-size: cover;padding: 0;margin:0; width: 100%; background-position: center; height: 100vh; overflow:hidden">
    <div class="container text-start text-white mt-5">
        <p>Shape your body</p>
        <h1>BE <span style="color:#e83c00">STRONG</span></h1>
        <h1>TRAINING HARD</h1>
      
            <button class="btn btn-secondary btn-lg mt-5" >Get Info</button>
        
       
    </div>
    <div class="justify-center text-center mt-5 text-white"><span style="color:#e83c00">Why choose us</span>
        
    <p>PUSH YOUR LIMITS FORWARD</p>
    </div>
    <div class="row"> 
        <div class="col-md-3 text-center text-white">
            <P>Modern Equipment</P>
            <p>Experience the latest in modern gym equipment that optimize your fitness journey</p>
        </div>
        <div class="col-md-3 text-center text-white">
            <P>Healthy Nutrition Plan</P>
            <p>We fuel your body with a healthy nutrition plan, crafted to support your fitness goals</p>
        </div>
        <div class="col-md-3 text-center text-white">
            <P>Proffesponal Training Plan</P>
            <p>Receive professional training guidance from our certified coaches safely and effectively.</p>
            </div>
        <div class="col-md-3 text-center text-white">
            <P>Unique to your needs</P>
            <p>Our unique approach tailors every aspect to meet your individual needs and aspirations</p>
        </div>
</div>
</div>
